.terminal {
    &__ {
        &container {
           width: 100%;
           pre{
               margin-bottom: 0;
           }
           .panel-body{
               padding: 0;
           }
        }

        &text {
            color: white;
            background-color: #2A2A2A;
            font-family: 'Lucida Console', 'Lucida Sans Typewriter', monaco, 'Bitstream Vera Sans Mono', monospace;
            
            &--output{
                overflow: auto;
                min-height:600px;
                 white-space: pre; 
            }
            &--input{
                width: 100%;
            }
        }
        
    }
}
