<div class="terminal__container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 ><span data-bind="editable: nickname" title="{{port}}"></span></h4>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-12">
					<div><pre data-bind="text: output" class="terminal__text terminal__text--output form-control"></pre></div>
					<input data-bind="value: command, valueUpdate: 'afterkeydown'" type="text" class="terminal__text terminal__text--input" />
				</div>
			</div>
		</div>
	</div>
</div>